
<p>
  <%= link_to '登録', new_user_path %>
</p>
<p>
<% if current_user %>
  <%= link_to 'ログアウト', top_logout_path %>
<% else %>
  <%= link_to 'ログイン', top_index_path %>
<% end %>
</p>
<% @rooms.each do |r| %>
    <p>
        <%= r.title %>
        <%= image_tag "/get_image/#{room.id}" %>
    </p>
    <% if session[:login_uid] %>
    as
         <%= link_to '参加', chatroom_index_path %>
    <% end %>
<% end %>