<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>Drinking Party</h1>

<p>
  <%= link_to 'ユーザ登録', new_user_path %>
</p>

<% if session[:login_uid] %>
  <%= link_to 'ログアウト(ユーザ)', top_logout_path %>
  
  <% else if session[:login_uid2] %>
    <p>
      <%= link_to 'ログアウト(ホスト)', top2_logout_path %>
      <%= link_to 'ルーム作成', new_room_path %>
    </p>
    <% else if %>
      <%= link_to 'ログイン(ホスト)', top2_main_path %>
      <%= link_to 'ログイン(ユーザ)', top_main_path %>
    <% end %>
  <% end %>
<% end %>


<% @rooms.each do |r| %>
  <p>
    <%= r.title %>
    <%= image_tag "/get_image/#{r.id}" %>
  </p>
  
  <% if session[:login_uid] %>
    <%= link_to '参加', chat_path(r.id)%>
    <% else if session[:login_uid2] %>
      <%= link_to '削除', room_path(r), method: :delete %>
    <% end %>
  <% end %>
<% end %>
