<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>Drinking Party</h1>
<p>
  <%= link_to '登録', new_user_path %>
</p>
<p>
<% if session[:login_uid] %>
  <p>
    <%= link_to 'ログアウト', top_logout_path %>
  </p>
  <p>
    <%= link_to 'ログアウト', top2_login_path %>
  </p>
  <%= link_to '参加', '/' %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>



<% @rooms.each do |r| %>
    <p>
        <%= r.title %>
        <%= image_tag "/get_image/#{room.id}" %>
    </p>
<% end %>
