<% if @room.errors.present? %>
<h3>エラーがあります</h3>
<ul>
  <% @room.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @room, url: {action: :create} do |f| %>
<p>
  <%= f.label :title, 'タイトル' %> 
  <%= f.text_field :title %> 
</p>

<p><%= f.label :file, '画像ファイルを挿入' %> 
  <%= f.file_field :file %>
</p>

<%= f.submit '作成' %>

<% end %>